@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--Ubuntu);
}

:root {
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);

    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);

    --Ubuntu: 'Ubuntu', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-blue);
}

main {
    width: 900px;
    height: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0px 10px 10px 0px var(--Pastel-blue);

    #sidebar {
        width: 274px;
        height: 568px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        margin-right: 70px;
        flex-direction: column;
        background-image: url('/assets/images/bg-sidebar-desktop.svg')
    }

    #sidebar>.sidebar-step {
        width: 80%;
        margin: 15px 15px 15px 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        color: var(--White);
        text-transform: uppercase;
        font-size: 13px;

        h4 {
            width: 50px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 80%;
            border: 1px solid var(--White);
        }

        div {
            width: 100%;
            margin-left: 15px;
            display: flex;
            flex-direction: column;

            p {
                color: var(--Light-gray);
                margin-bottom: 5px;
            }

            strong {
                letter-spacing: 1.5px;
            }
        }

    }

    .main-step {
        position: relative;
        width: 450px;
        height: 568px;
        display: flex;
        flex-direction: column;
        padding-top: 45px;

        h1 {
            font-size: 2rem;
            color: var(--Marine-blue);
        }

        p {
            font-size: 1rem;
            margin: 10px 0 40px 0;
            color: var(--Cool-gray);
        }

        strong {
            color: var(--Marine-blue);
        }

        button {
            cursor: pointer;
            width: 110px;
            height: 40px;
            border: none;
            color: var(--White);
            font-weight: 500;
            border-radius: 10px;
            background-color: var(--Marine-blue);
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid var(--Light-gray);
            margin: 1em 0;
            padding: 0;
        }

        .main-btt {
            position: absolute;
            top: 515px;
            display: flex;
            flex-direction: row;
            background-color: red($color: #000000);

            .btt-back {
                position: absolute;
                left: -30px;
                color: var(--Cool-gray);
                background-color: unset;
            }

            .btt-next {
                position: absolute;
                left: 340px;
            }
        }
    }

    #step-01 {
        //display: none;

        label {
            font-size: 0.8rem;
            margin-bottom: 5px;
            font-weight: 300;
            color: var(--Marine-blue);
            display: flex;
            justify-content: space-between;

            span {
                display: none;
                font-size: 0.7rem;
                font-weight: 500;
                color: red;
            }
        }

        input {
            cursor: pointer;
            height: 45px;
            padding: 10px;
            font-weight: 700;
            margin-bottom: 20px;
            border-radius: 8px;
            border: 1px solid var(--Light-gray);
        }

        input:focus {
            color: var(--Marine-blue);
            outline: 0px;
            border: 1px solid var(--Marine-blue);
        }
    }

    #step-02 {
        display: none;

        #main-plan {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;

            .plan {
                cursor: pointer;
                width: 135px;
                height: auto;
                display: flex;
                padding: 15px;
                border-radius: 8px;
                border: 1px solid var(--Light-gray);
                flex-direction: column;

                img {
                    width: 40px;
                    height: 40px;
                    margin-bottom: 43px;
                }

                strong {
                    top: 45px;
                    margin-bottom: 5px;
                    font-size: 1.1rem;
                    color: var(--Marine-blue);
                }

                p {
                    top: 37px;
                }

                .no-margin{
                    font-size: 1rem;
                    margin-bottom: 0;
                }
                .enable{
                    display: none;
                }
                .month-free{
                    display: none;
                    font-size: 0.8rem;
                    font-weight: 500;
                    margin-bottom: 0;
                    color: var(--Marine-blue);
                }
            }

            .plan:hover {
                border: 1.2px solid var(--Purplish-blue);
                background-color: hsla(206, 100%, 92%, 0.558);
                transition: all 0.5s;
            }
        }

        #month-yearly {
            position: relative;
            top: 40px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            font-size: 1rem;
            color: var(--Marine-blue);
            border-radius: 8px;
            background-color: hsla(206, 100%, 92%, 0.422);

            #yearly {
                color: var(--Cool-gray);
            }

            /* Estilo iOS */
            .switch__container {
                margin: 0 25px 0 25px;
            }

            .switch {
                visibility: hidden;
                position: absolute;
                margin-left: -9999px;
            }

            .switch+label {
                display: block;
                position: relative;
                cursor: pointer;
                outline: none;
                user-select: none;
            }

            .switch--shadow+label {
                padding: 2px;
                width: 45px;
                height: 25px;
                background-color: unset;
                border-radius: 50px;
            }

            .switch--shadow+label:before,
            .switch--shadow+label:after {
                display: block;
                position: absolute;
                top: 1px;
                left: 1px;
                bottom: 1px;
                content: "";
            }

            .switch--shadow+label:before {
                right: 1px;
                background-color: var(--Marine-blue);
                border-radius: 60px;
                transition: background 0.4s;
            }

            .switch--shadow+label:after {
                position: relative;
                top: 3px;
                width: 15px;
                height: 15px;
                margin: 0 2px 0 2px;
                background-color: var(--White);
                border-radius: 100%;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                transition: all 0.4s;
            }

            .switch--shadow:checked+label:before {
                background-color: var(--Marine-blue);
            }

            .switch--shadow:checked+label:after {
                transform: translateX(20px);
            }
        }
    }

    #step-03 {
        display: none;

        p {
            margin-bottom: 25px;
        }

        .add-ons {
            cursor: pointer;
            width: 100%;
            height: 50px;
            padding: 35px 15px 35px 25px;
            margin: 10px 0 10px 0;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            border: 1px solid var(--Light-gray);
            border-radius: 8px;

            p {
                margin: 0;
            }

            .align-column-ons {
                width: 65%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                p {
                    margin: 0;
                }
            }
        }

        .add-ons:hover {
            border: 1.2px solid var(--Purplish-blue);
            background-color: hsla(206, 100%, 92%, 0.558);
            transition: all 0.5s;
        }


    }

    #step-04 {
        display: none;

        #add-subscription {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 150px;
            padding: 10px 30px 10px 20px;
            border-radius: 8px;
            background-color: hsla(206, 100%, 92%, 0.558);

            strong,
            p,
            a {
                margin: 0;
                font-size: 0.8rem;
            }

            .content-subscription {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                margin-bottom: 10px;

                #change {
                    display: flex;
                    flex-direction: column;
                }

                strong {
                    font-size: 0.9rem;
                }

                .p-value {
                    color: var(--Marine-blue);
                }

            }
        }

        #tot {
            width: 93%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;
            position: relative;
            top: 25px;

            p {
                margin: 0;
            }

            h3 {
                color: var(--Purplish-blue);
            }
        }

    }

    #step-05 {
        display: none;
        //display: flex;
        align-items: center;
        justify-content: center;

        #img {
            width: 80px;
            height: 80px;
            margin-bottom: 30px;
            background-image: url('/assets/images/icon-thank-you.svg');
            background-repeat: no-repeat;
        }

        h1 {
            margin-bottom: 20px;
        }

        p {
            text-align: center;
        }
    }
}